*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aquamarine;
    width: 900px;
    height: 700px;
    display: grid;
    /* justify-items: flex-start; */
    grid-template-columns: 133px 133px 133px;
    grid-template-rows: 133px 133px 133px;

}
.item{
    background-color: rgb(32, 119, 195);
    margin: 30px;
    /* width: 80px; */
}
.item1{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end:4 ;
    color: black;
}
.item2{
    background-color: brown;
    grid-row-start:2 ;
    grid-row-end: 4;
    color: black;
}
.item3{
    background-color: blueviolet;
   grid-row-start:  2;
grid-row-end:4 ;
color: black;
}
.item4{
    background-color: azure;
    grid-column-start: 1;
    grid-column-end: 4;
    color: black;
}