p::first-letter{
    font-size: 45px;
    color: brown;
}
p::first-line{
    color: aqua;
}
h2::before{
    content: "~"
}
h2::after{
    content: "~"
}
p::selection{
    background-color: aqua;
    color: blue;
}