body{
    background-color: antiquewhite;
}
.container{
    width: 800px;
    background-color: rgb(197, 106, 3);
    text-align: center;
    padding-bottom: 30px;
}
input{
    
    display: block;
    margin: 20px auto;
    padding: 10px 10px;
    width: 240px;
}
input[type=submit]{
    width: 265px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: black;
    color: aliceblue;
}
p{
    background-color: aliceblue;
    box-shadow: 2px 2px 6px black;
    color: red;
    width: 150px;
    margin: 0 auto;
}